.task {
    display: flex;
    flex-direction: column;
    background-color: #2A223D;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: darkslateblue;
}

.task .header {
    color: #EAEAEA;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task .description {
    padding-left: 27px;
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(170, 170, 170)
}

.completed {
    text-decoration: line-through;
    color: gray;
}